extends header.pug

block content
    if errorMessage
        span.error= errorMessage
    h1 게시물 수정
    form(method="POST", action=`/post/${post._id}/edit`)
        select(name="prefix", required)
            option(value="") 말머리 선택
            option(value="제품리뷰" selected=post.prefix) 제품리뷰
            option(value="운동추천" selected=post.prefix) 운동추천
            option(value="정보공유" selected=post.prefix) 정보공유
        input(type="text", name="title", placeholder="Title", required, maxlength="50", value=post.title)
        // Quill 에디터를 위한 div
        div#editor-container
        input(type="hidden", name="content", id="hidden-content", value=post.content)
        button(type="submit") 등록

block scripts
    // Quill의 CDN 링크
    link(rel="stylesheet", href="https://cdn.quilljs.com/1.3.6/quill.snow.css")
    script(src="https://cdn.quilljs.com/1.3.6/quill.js")
    script.
        var quill = new Quill('#editor-container', {
            theme: 'snow',
            placeholder: '내용을 입력해주세요',
            modules: {
                toolbar: [
                    [{ 'header': [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    ['link']
                ]
            }
        });

        // 기존 내용 로드
        var hiddenContent = document.getElementById('hidden-content');
        quill.root.innerHTML = hiddenContent.value;

        // 폼 제출 시 content를 hidden field에 저장
        document.querySelector('form').onsubmit = function() {
            hiddenContent.value = quill.root.innerHTML;
        };
